body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header-Sec{
  width:100%;
  background:#A79D9D;
  padding:1%;
  

}
.Header-Sec h1{
  color:white;
}
.Header-Sec h1:hover{
color:yellow;
cursor: pointer;
}
.Header-Sec h5{
  color:white;
}
.Image-sec{
  width:100%;
  height:10%;
  margin-bottom:10%;
  position: relative;
  text-align: center;
  color: white;
 }

 @media (max-width: 920px){
  .Image-sec{
   margin-bottom: 40%;

  }
   }
   @media (max-width: 650px){
    .Image-sec{
     margin-bottom: 60%;
  
    }
     }
     @media (max-width: 516px){
      .Image-sec{
       margin-bottom: 70%;
    
      }
       }
       @media (max-width: 650px){
        .Image-sec{
         margin-bottom: 70%;
      
        }
         }

.Image-sec img{
width:50%;
opacity: 0.8;
border-radius: 10%;
margin-top:1%;
}

@media (max-width:950px){
  .Image-sec img{
    
    font-size: 0.5rem;
    line-height: 250%;
    width:60%;
 
   }
 

 }
 @media (max-width:450px){
  .Image-sec img{
    
     width:80%;
 
   }

   }


.Image-sec p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  font-weight: bolder;
  line-height: 170%;
  font-size: 2rem;
  color:greenyellow;
 }
 @media (max-width:1600px){
  .Image-sec p{
    
    font-size: 0.9rem;
    line-height: 300%;
 
   }
 }
 @media (max-width:950px){
  .Image-sec p{
    
    font-size: 0.7rem;
    line-height: 250%;
 
   }
 

 }
 @media (max-width:950px){
  .Image-sec p{
    
    font-size: 0.5rem;
    line-height: 250%;
 
   }
 

 }
@media(max-width: 450px){
 .Image-sec p{

  font-size:0.4rem;
 }

}
.FooterSec{
  width:100%;
  background:#A79D9D;
  padding:0.1%;
}
.FooterSec h2{
  color:white;
  font-weight: bolder;
}
.FooterSec  h2:hover{
  color:yellow;
  cursor: pointer;
  }
